{{#> layout currentPage="Login"}}
    <!-- Register -->
    <form id="register-form" action="/login" method="post" class="auth-form" >
      
      <h3 class="mb-5">Welcome Back! Please Login</h3>

      
      <div class="form-field">
        <label for="email">Email</label>
        <input name="email" id="email" type="email" placeholder="Insert email" required />
      </div>
      <div class="form-field">
        <label for="password">Password</label>
        <input name="password" id="password" type="password" placeholder="Insert password" required />
      </div>
  {{!-- pesan eror --}}
        {{#if messages.error}}
      <div class="alert alert-danger" role="alert">
    {{messages.error}}
    </div>
    {{/if}}
      {{!-- untuk pesan sukses --}}
        {{#if messages.success}}
      <div class="alert alert-success" role="alert">
    {{messages.success}}
    </div>
    {{/if}}
      
      <div class="text-center mt-4">
        <button type="submit">Login</button>
      </div>
    </form>
    <script src="/js/blog.js"></script>

    {{/layout}}

    