{{#> layout}}
    <!-- BLOG DETAIL SECTION -->
    <section class="blog-detail">
      <h1>Pasar Coding Di Indonesia</h1>

      <p>30 Januari 2025 11:22 WIB | Alex Josua</p>

      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAEHhqMIbjhzMXUDovPR9i9utDBcMRACBpxg&s"
        alt="Blog Image"
      />

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quae
        doloribus fugit, eligendi laborum nam sint beatae assumenda sequi quod
        odit consequatur praesentium, perspiciatis ad enim nulla eius. Est
        dignissimos cumque aliquam neque, autem optio repudiandae alias
        voluptate quibusdam. Dolores odit facilis maxime eos delectus temporibus
        alias autem ipsum dolor.
      </p>
    </section>

    {{/layout}}
