{{#> layout currentPage="Create Blog"}}
    <!-- CREATE BLOG -->
    <form id="create-blog" action="/blog-create" method="post" class="create-blog-form" >
      <h1>Create Blog</h1>
      <div class="form-field">
        <label for="title">Title</label>
        <input name="title" id="title" type="text" placeholder="Insert Title" required />
      </div>

      <div class="form-field">
        <label for="content"> Content</label>
        <textarea
          name="content"
          id="content"
          rows="6"
          placeholder="Insert Content"
          required
        >
        </textarea>
      </div>

      <div class="form-field">
        <label for="image">Upload Image</label>
        <input name="image" id="image" type="file" required />
      </div>
      <div class="button-container">
        <button type="submit">Submit</button>
      </div>
    </form>
    <script src="/js/blog.js"></script>

    
    {{/layout}}

    