{{#> layout currentPage= "Not Found"}}

<main>
    <section class="container d-flex justify-content-center align-items-center mt-5" >
       
        <h1>Sorry, this page is not available</h1>

    </section>
</main>

{{/layout}}